.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  color: $white;
  padding: 10px 20px;
}

.notes__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.notes__title-input,
.notes__textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

.notes__title-input {
  color: $dark-grey;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 800;
}

.notes__textarea {
  color: $dark-grey;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
}

.notes__image {
  img {
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
  }
}