@import './assets/scss/CustomBootstrap.scss';

body {
  width: 100%;
  color: white;
  background-color: #121113;
}

.PrimeraApp {
  text-align: center;
}

.App-logo {
  height: 35px;
  width: 35px;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.Text-center {
  text-align: center;
}

hr {
  border: 1px dashed #61dafb;
  background-color: transparent;
}

#root {
  padding: 15px;
}

code {
  @extend .bg-dark;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 5px 0;
}

.Code {
  @extend .text-yellow;
  margin: 5px 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.D-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.J-center {
    justify-content: center;
  }
}

.Title-flex {
  @extend .D-flex;
}

.Nav {
  @extend .D-flex;

  >* {
    color: #61dafb;
    text-decoration: none;
    margin: 5px;
  }
}